@use "src/Styles/mixins" as m;

.ourProductsSection {
  margin-bottom: 170px;
}

.wrapper {
  display: flex;
  gap: 87px;
  margin-bottom: 40px;

  @include m.small {
    flex-direction: column;
    gap: 0;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.max {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 50px;
  max-width: 100%;

  img {
    max-width: 45%;
    height: auto;

    @include m.small {
      max-width: 100%;
    }
  }
}

.viewProductsBtn {
  -webkit-tap-highlight-color: transparent;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  background: var(--dark-red);
  color: var(--white);
  padding: 12px 48px;
  margin: 20px auto;
  border-radius: 4px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &:focus-visible {
    transition: var(--outline-transition);
    outline: solid 2px var(--tomato);
    background: transparent;
    color: var(--tomato);
  }

  &:hover {
    background: var(--tomato);
  }

  @include m.very-small {
    padding: 12px 24px;
    font-size: 14px;
  }
}
