@use "src/Styles/mixins" as m;

.ourMembersSection {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  border: 1px solid #e9ecef;
  padding: 40px 20px;
  background-color: #f8f9fa;
  overflow: hidden;
.membersContainer{
  background: #126e63;
  height: 300px;
  padding: 10px 20px;
}
  @media (min-width: 768px) { 
    flex-direction: row; /* Side-by-side on larger screens */
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: auto;
  }

  .membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%; /* Take up half the width */
    }
  }

  .header {
    flex: 1;
    text-align: left;
    padding: 20px;

    @media (max-width: 768px) {
      text-align: center;
      padding: 0;
    }

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #044a42;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }

    .description {
      font-size: 1rem;
      color: #555;
      line-height: 1.5;
      width: 100%;
      text-align: start;
    }
  }
}
