@use "src/Styles/mixins" as m;

/* Introduction Section */
.introductionContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 60px;
  margin-bottom: 80px;
  display: none;
}
.ourMembersSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9ecef;
  padding: 40px 20px;
  background-color: #f8f9fa;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row; // Side-by-side layout on larger screens
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .introductionContainer {
    display: none;
  
    @media (min-width: 768px) {
      display: block;
    }
  }

  .header {
    flex: 1;
    text-align: left;
    padding: 20px;

    @media (max-width: 768px) {
      text-align: center;
      padding: 0;
    }

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #044a42;
      margin-bottom: 10px;
    }
    

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }

    .description {
      font-size: 1rem;
      color: #555;
      line-height: 1.5;
      text-align: start;
    }
  }

  .membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #126e63;
    height: auto;
    padding: 20px;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%; // Take up half the width on larger screens
    }
  }
}

