.removeButton {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  background-color: rgb(183, 45, 45);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: rgb(150, 30, 30);
  }

  &:focus-visible [data-is-tooltip=true] {
    opacity: 1;
  }
}

.icon {
  width: 14px;
  height: 14px;
  fill: white; // Ensure correct fill color
}

// Arabic styles (RTL support)
[lang="ar"] .removeButton {
  left: auto;
  right: 5px;
}
